#header img{
    width: 150px !important;
    height: auto !important;
    max-height: 150px !important;
    margin-top: 120px;
}

.css-m2icte{
    width: 150px !important;
    height: auto !important;
}

.css-ptht6r img{
    width: 60px !important;
    height: 60px !important;
}

button.css-1sdo883{
    height: 120px !important;
}

.css-bsxkxw img{
    border-radius: 80px;
}

.css-14k6mw7 img{
    border-radius: 15px;
}